@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Manrope:wght@500&family=Rubik:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --banner-color: rgb(218, 225, 225);
  --outside-form-background: rgb(248, 249, 250);
  --input-border: rgb(236, 237, 238);
  --input-focus: rgb(42, 88, 217);
  --button-color: rgb(19, 15, 12);
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--outside-form-background);
  /* flex-wrap: wrap; */
}

.banner {
  background-image: url(https://images.unsplash.com/photo-1647089490798-573b8b47ad9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1475&q=80);
  /* background-position: center; */
  background-size: cover;
  width: 100vw;
  /* min-width: 370px; */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  color: var(--banner-color);
  background-color: rgba(0, 0, 0, 50%);
  font-family: "Rubik", sans-serif;
  letter-spacing: .3em;
}

.banner p {
  position: absolute;
  bottom: 4px;
  right: 10px;
  color: var(--banner-color);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
}

.banner a {
  /* text-decoration: none; */
  color: var(--banner-color);
}

.logo {
  width: 70px;
  float: left;
  height: auto;
  margin-right: 1rem;
  opacity: 80%;
}

.form-header {
  padding: 2rem 0;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 1.3rem;
}

.form-header > p {
  margin: 0 12px;
}

.form-title {
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.signup-form {
  padding: 1rem 0 2rem;
  font-family: "Inter Tight", sans-serif;
  box-shadow: 0px 4px 5px 0px gainsboro;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  margin-top: 1.2rem;
  width: 70%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* margin-top: 1.2rem; */
}

label {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
}

.required::after {
  content: "*";
  color: red;
}

input {
  appearance: none;
  font-family: inherit;
  font-size: 100%;
  padding-left: 10px;
  height: 28px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--input-border);
}

input:focus{
  outline: none;
  border: 1px solid var(--input-focus);
  box-shadow: 5px 5px 10px gainsboro;
}

input::placeholder {
  color: rgba(0, 0, 0, 30%);
}

input:focus:invalid {
  border-color: red;
}

.create-account {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter Tight", sans-serif;
}

.create-account a {
  text-decoration: none;
}

.btn-create {
  margin-bottom: 1rem;
  width: 190px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--button-color);
  outline: none;
}

.btn-create:hover,
.btn-create:focus {
  background-color: #fff;
  color: var(--button-color);
  border: 2px solid var(--button-color);
}

@media only screen and (min-width: 770px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .banner {
    height: 100vh;
    width: 40%;
  }

  .form-container {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-header{
    /* width: auto; */
    padding: 0 6rem 2rem 2rem;
    text-align: left;
    font-size: 1.3rem;
    font-family: "Inter Tight", sans-serif;
  }

  .form-header > p {
    margin: 0;
  }

  .signup-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 2rem 2rem 2rem;
    gap: 3rem;
  }

  .form-title {
    display: block;
    width: 100%;
    text-align: left;
  }

  .form-row{
    width: max(250px, 40%);
    display: inline;
  }

  .create-account {
    align-items: flex-start;
    margin: 3rem 0;
    padding-left: 2rem;;
  }

}


